body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 200px 1fr 250px;
    grid-template-areas:
        "header header header"
        "menu content messenger"
        "footer footer footer";
}

header {
    grid-area: header;
    padding: 10px;
    background-color: #36f;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.menu {
    grid-area: menu;
    padding: 10px;
    background-color: #eee;
}
.messenger {
    grid-area: messenger;
    padding: 10px;
    background-color: #ddd;
}
footer {
    grid-area: footer;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

img {
    width: 300px;
}

.feed {
    grid-area: content;
    display: grid;
    grid-template-columns: minmax(300px, 500px);
    gap: 40px 20px;
    padding: 80px 40px;
}
    .feed > .post {
        border: 1px solid #ccc;
    }
        .feed > .post > .post-header {
            display: grid;
            grid-template-columns: 70px 1fr 30px;
            grid-template-areas: "authorPhoto authorDetails authorActions";
        }
            .feed .post-header > .user-profile-photo {
                grid-area: authorPhoto;
                padding: 10px;
            }
                .feed .user-profile-photo > img {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            .feed .post-header > .user-details {
                grid-area: authorDetails;
                padding: 10px 0;
            }
                .feed .user-details > .author {
                    margin-bottom: 10px;
                    line-height: 25px;
                    font-size: 18px;
                }
                    .feed .user-details .link {
                        line-height: inherit;
                    }
                .feed .user-details > .time {
                    line-height: 15px;
                    font-size: 15px;
                }
            .feed .post-header > .post-actions {
                grid-area: authorActions;
            }
        .feed > .post > .post-content {
            display: grid;
            grid-template-columns: 1fr;
        }
            .feed .post-content > p {
                padding: 10px;
                font-size: 17px;
                line-height: 22px;
            }
                .feed p > .read-more,
                .feed p > .read-less {
                    color: #36f;
                    cursor: pointer;
                }
                .feed .post-content > p.hidden {
                    display: none;
                }
                .feed .post-content > p.big-text {
                    font-size: 30px;
                    line-height: 40px;
                }
                .feed .post-content > p.background {
                    height: 300px;
                    padding: 40px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .feed .post-content > p.red {
                    background-color: tomato;
                    color: #fff;
                }
                .feed .post-content > p.orange {
                    background-color: orange;
                    color: #fff;
                }
            .feed .post-content > .gallery {
                width: 100%;
                height: 250px;
                position: relative;
            }
                .feed .gallery > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
                .feed .gallery.gallery-2 {
                    height: 300px;
                }
                    .feed .gallery.gallery-2 > img {
                        width: 50%;
                        float: left;
                    }
                .feed .gallery.gallery-3 {
                    height: 350px;
                }
                    .feed .gallery.gallery-3 > img {
                        width: 50%;
                        height: 50%;
                        float: left;
                    }
                    .feed .gallery.gallery-3 > img:first-child {
                        width: 100%;
                    }
                .feed .gallery.gallery-4 {
                    height: 400px;
                }
                    .feed .gallery.gallery-4 > img {
                        width: 50%;
                        height: calc(100% / 3);
                        float: left;
                    }
                    .feed .gallery.gallery-4 > img:first-child {
                        height: 100%;
                    }
                .feed .gallery > .extra {
                    display: none;
                }
                .feed .gallery.gallery-4 > .extra {
                    display: inline-block;
                    width: 50%;
                    height: calc(100% / 3);
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background-color: #333c;
                    color: #fff;
                    font-size: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
        .feed > .post > .post-footer {
            display: grid;
            grid-template-columns: 1fr;
            padding: 0 10px;
        }
            .feed .post-footer > .row {
                padding: 10px;
                border-top: 1px solid #ccc;
            }

@media (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "menu"
            "content"
            "messenger"
            "footer";
    }
}